# C6 Bank Automation Server Environment Variables (TEMPLATE)
# COPY THIS FILE TO .env AND FILL IN THE VALUES

# Google Cloud
GOOGLE_CLOUD_PROJECT=datalab-pagamentos
BIGQUERY_DATASET=ADMINISTRACAO_CELULA_PYTHON

# Paths
PATH_ROOT_1=Path_To_Root_1
PATH_ROOT_2=Path_To_Root_2
PATH_ROOT_3=Path_To_Root_3

# Automation Base Path relative to Root
PATH_AUTOMATION_BASE=Internal/Path/To/Automations
PATH_AUTOMATION_BASE_FALLBACK=Fallback/Path

# Excel Config
EXCEL_FILENAME=registro_automacoes.xlsx
